.container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.link {
  margin-top: 30px;
  display: inline-flex;
  padding: 8px 16px;
  text-decoration: none;
  color: var(--button-text);
  background-color: var(--button-bg);
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.link:hover {
  background-color: var(--button-bg-hover);
}